<template>
  <div class="col-md-6 mt-3">
    <label for="validationCustom01" class="form-label">FirstName</label>
    <input type="text" class="form-control" id="validationCustom01" required v-model="input.firstname"
      @input="resetMessage">
    <div class="invalid-feedback">
      {{ message }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Input',
    props: {
      input,
      resetMessage,
      message,
    }
  }
</script>