<template>
  <div>
    <h2>Form:</h2>
    <form class="col g-3 needs-validation" novalidate @submit.prevent="submitForm">
      <!-- <div class="col-md-6 mt-3">
        <label for="validationCustom01" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="validationCustom01" required v-model="input.firstname" @input="resetMessage">
        <div class="invalid-feedback">
          Please provide a valid firstname!
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <label for="validationCustom02" class="form-label">LastName</label>
        <input type="text" class="form-control" id="validationCustom02" required v-model="input.lastname" @input="resetMessage">
        <div class="invalid-feedback">
          Please provide a valid lastname!
        </div>
      </div> -->

      <Input :input="firstname" @update-input="newValue => firstname = newValue" :message="messageSuccess" :reset-message="resetMessage"
        input-title="FirstName" validate-message="Please provide a valid firstname!"
      />
      <Input :input="lastname" @update-input="newValue => lastname = newValue" :message="messageSuccess" :reset-message="resetMessage"
        input-title="LastName" validate-message="Please provide a valid lastname!"
      />

      <div ml-2 class="mt-3">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    <!-- <div class="messageError"></div> -->
    <div class="messageSuccess text-success mt-3">{{ messageSuccess }}</div>

    <br />
    <br />
    <br />

    <div v-if="listUser.length === 0">
      <img src="../../static/empty.png" alt="ahihi">
    </div>
    <table v-else class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr v-for="(user, index) in listUser" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td><button type="button" class="btn btn-danger" @click="deleteUser(index)">Danger</button></td>
        </tr> -->
        <TableRow v-for="(user, index) in listUser" :key="index" :user="user" :index="index" :deleteUser="deleteUser"/>
      </tbody>
    </table>
  </div>
</template>

<script>
import Input from './Input.vue'
import TableRow from './TableRow.vue'

export default {
  name: 'HelloWorld',
  components: {
    Input,
    TableRow
  },
  data () {
    return {
      messageSuccess: '',
      firstname: '',
      lastname: '',
      listUser: []
    }
  },
  methods: {
    submitForm (e) {
      // Validate
      if (!e.target.checkValidity()) {
        e.target.classList.add('was-validated')
        return
      }

      // Add user
      this.listUser = [...this.listUser, { firstname: this.firstname, lastname: this.lastname }]
      e.target.classList.remove('was-validated')
      this.firstname = ''
      this.lastname = ''
      this.messageSuccess = 'New user added successfully!'
    },
    resetMessage () {
      this.messageSuccess = ''
    },
    deleteUser (indexDelete) {
      this.listUser = this.listUser.filter((user, index) => index !== indexDelete)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
