<template>
  <div class="col-md-6 mt-3">
    <label for="validationCustom01" class="form-label">{{ inputTitle }}</label>
    <input type="text" class="form-control" id="validationCustom01" required :value="input"
      @input="inputChangeValue" >
    <div class="invalid-feedback">
      {{ message }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Input',
  data: () => {
    return {
    }
  },
  props: {
    input: {
      type: String,
      default: ''
    },
    resetMessage: {
      type: Function
    },
    message: {
      type: String,
      default: ''
    },
    inputTitle: {
      type: String,
      default: ''
    },
    validateMessage: {
      type: String,
      default: ''
    }
  },
  methods: {
    inputChangeValue (e) {
      this.resetMessage()
      this.$emit('update-input', e.target.value)
    }
  }
}
</script>
