<template>
  <tr>
    <th scope="row">{{ index + 1 }}</th>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td><button type="button" class="btn btn-danger" @click="deleteUser(index)">Danger</button></td>
  </tr>
</template>

<script>
export default {
  name: 'TableRow',
  data: () => {
    return {
    }
  },
  props: {
    index: {
      typeof: Number
    },
    user: {
      type: Object
    },
    deleteUser: {
      type: Function
    }
  }
}
</script>
