<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="p-5">
  <div id="app">

    <h2>Form:</h2>
    <form class="col g-3 needs-validation" novalidate @submit.prevent="submitForm">
      <div class="col-md-6 mt-3">
        <label for="validationCustom01" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="validationCustom01" required v-model="input.firstname" @input="resetMessage">
        <div class="invalid-feedback">
          Please provide a valid firstname!
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <label for="validationCustom02" class="form-label">LastName</label>
        <input type="text" class="form-control" id="validationCustom02" required v-model="input.lastname" @input="resetMessage">
        <div class="invalid-feedback">
          Please provide a valid lastname!
        </div>
      </div>

      <div ml-2 class="mt-3">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    <!-- <div class="messageError"></div> -->
    <div class="messageSuccess text-success mt-3">{{ messageSuccess }}</div>

    <br />
    <br />
    <br />

    <div v-if="listUser.length === 0">
      <img src="./empty.png" alt="ahihi">
    </div>
    <table v-else class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(user, index) in listUser">
          <tr >
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td><button type="button" class="btn btn-danger" @click="deleteUser(index)">Danger</button></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        messageSuccess: '',
        input: {
          firstname: '',
          lastname: '',
        },
        listUser: []
      },
      methods: {
        submitForm(e) {
          // Validate
          if (!e.target.checkValidity()) {
            e.target.classList.add('was-validated')
            return
          }

          // Add user
          this.listUser = [...this.listUser, this.input]
          e.target.classList.remove('was-validated')
          this.input = {
            firstname: '',
            lastname: '',
          }
          this.messageSuccess = 'New user added successfully!'
        },
        resetMessage() {
          this.messageSuccess = ''
        },
        deleteUser(indexDelete) {
          this.listUser = this.listUser.filter((user, index) => index !== indexDelete)
        }
      }
    })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>